# Разрешаем выполнение build-скриптов для этих пакетов
pnpm.onlyBuiltDependencies[]=bcrypt
pnpm.onlyBuiltDependencies[]=prisma
pnpm.onlyBuiltDependencies[]=@prisma/engines
pnpm.onlyBuiltDependencies[]=@prisma/client
public-hoist-pattern[]=*prisma*
public-hoist-pattern[]=@prisma/*
shamefully-hoist=true
strict-peer-dependencies=false
